<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>nochill</title>
		<meta name="description" content="Watch youtube videos with your friends in a virtual cinema." />
		<meta name="keywords" content="cinema, shared media, virtual theater, perspective, 3d" />
		<meta name="author" content="Sdr24" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/home.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/home.js"></script>
        <link rel="stylesheet" href="/static/css/all.css"/>
	</head>
    <body>
      <div class="wrapper">

        <nav id="sidebar">
          <div class="sidebar-header">
            <h3>nochill</h3>
        </div>
          <p>Welcome to nochill, a virtual theater where you can watch youtube videos and livestreams with your friends. No account required.</p>
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-lg">nochill/</span>
            </div>
            <input type="text" class="form-control" id="createRoomBox" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-primary" id="createButton">Create room</button>
          </div>
          
      </nav>

        <div id="content">
        <div class="container">
            <div class="row">
            
            {% for room in rooms %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <a href="/{{room.room}}"><img class="card-img-top" src="https://img.youtube.com/vi/{{room.media}}/hqdefault.jpg"></a>
                    <div class="card-body">
                      <h5 class="card-title"><div>{{room.room}} <div class="text-right"><i class="fa fa-user" aria-hidden="true"></i> {{room.cnt}}</div></div>
                      </h5>
                    </div>
                </div>
              </div>
              {% endfor %}
            
             </div>  
          </div>
        </div>
      </div>
        
    </body>
</html>