<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>nochill/{{name}}</title>
		<meta name="description" content="Watch youtube videos with your friends in a virtual cinema." />
		<meta name="keywords" content="cinema, shared media, virtual theater, perspective, 3d" />
		<meta name="author" content="Sdr24" />
		<room content="{{name}}" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script>
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
		<link rel="stylesheet" href="/static/css/all.css"/>

		<script src="/static/js/modernizr-custom.js"></script>
		<script src="/static/js/youtube.js"></script>
		<script src="/static/js/chat.js"></script>
	</head>
	<body>
		<header class="header">
		<div class="row">
			<div class="col-md-8"><h1 class="header__title">nochill/{{name}}</h1></div>
			<div class="col-md-4"><a href="#" id="ctrl-queue" data-toggle="modal" data-target="#playlist-modal"><i class="fa fa-bars"></i> Playlist</a></div>
		</div>
			<p class="note note--screen">Please view on a larger screen</p>
			<p class="note note--support">Sorry, but your browser doesn't support preserve-3d!</p>
		
		</header>
		
		
<div id="chat-messages" style="display: block;" class="messages">
    <div class="panel panel-dark-transparent pre-scrollable">
        <ul class="list-group" id="chat-list">

		</ul>
        <ul id="chat-error" class="hidden">
            <li class="message"><p>Please wait before sending another message...</p></li>
        </ul>
    </div>
    <div class="overlay"></div>
</div>

		
		<div class="container">
			<div class="cube">
				<div class="cube__side cube__side--front"></div>
				<div class="cube__side cube__side--back">
					<div class="screen">
						<div class="video">
							<!--   placeholder div for youtube api    -->
							<div id="player"></div>
						</div>
						<div class="intro intro--shown">
							<div class="row">
								<div class="col-md-4"></div>
									<div class="input-group mb-3 col-md-4 text-center">
									<form class="form-inline">
									<input type="text" class="form-control" id="name-field" placeholder="Enter a name" aria-label="Enter a name" maxlength="25" style="width:200px">
									<div class="input-group-append">
									<button class="btn btn-outline-secondary action action--seats" id="join-chat" type="submit" onclick="return false">Join</button>
									</form>
									</div>
									</div>
								<div class="col-md-4"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="cube__side cube__side--left"></div>
				<div class="cube__side cube__side--right"></div>
				<div class="cube__side cube__side--top"></div>
				<div class="rows rows--large">
					<div class="row">
						<div data-seat="A1" class="row__seat"></div>
						<div data-seat="A2" class="row__seat"></div>
						<div data-seat="A3" class="row__seat"></div>
						<div data-seat="A4" class="row__seat"></div>
						<div data-seat="A5" class="row__seat"></div>
						<div data-seat="A6" class="row__seat"></div>
						<div data-seat="A7" class="row__seat"></div>
						<div data-seat="A8" class="row__seat"></div>
						<div data-seat="A9" class="row__seat"></div>
						<div data-seat="A10" class="row__seat"></div>
						<div data-seat="A11" class="row__seat"></div>
						<div data-seat="A12" class="row__seat"></div>
						<div data-seat="A13" class="row__seat"></div>
						<div data-seat="A14" class="row__seat"></div>
						<div data-seat="A15" class="row__seat"></div>
						<div data-seat="A16" class="row__seat"></div>
						<div data-seat="A17" class="row__seat"></div>
						<div data-seat="A18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="B1" class="row__seat"></div>
						<div data-seat="B2" class="row__seat"></div>
						<div data-seat="B3" class="row__seat"></div>
						<div data-seat="B4" class="row__seat"></div>
						<div data-seat="B5" class="row__seat"></div>
						<div data-seat="B6" class="row__seat"></div>
						<div data-seat="B7" class="row__seat"></div>
						<div data-seat="B8" class="row__seat"></div>
						<div data-seat="B9" class="row__seat"></div>
						<div data-seat="B10" class="row__seat"></div>
						<div data-seat="B11" class="row__seat"></div>
						<div data-seat="B12" class="row__seat"></div>
						<div data-seat="B13" class="row__seat"></div>
						<div data-seat="B14" class="row__seat"></div>
						<div data-seat="B15" class="row__seat"></div>
						<div data-seat="B16" class="row__seat"></div>
						<div data-seat="B17" class="row__seat"></div>
						<div data-seat="B18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="C1" class="row__seat"></div>
						<div data-seat="C2" class="row__seat"></div>
						<div data-seat="C3" class="row__seat"></div>
						<div data-seat="C4" class="row__seat"></div>
						<div data-seat="C5" class="row__seat"></div>
						<div data-seat="C6" class="row__seat"></div>
						<div data-seat="C7" class="row__seat"></div>
						<div data-seat="C8" class="row__seat"></div>
						<div data-seat="C9" class="row__seat"></div>
						<div data-seat="C10" class="row__seat"></div>
						<div data-seat="C11" class="row__seat"></div>
						<div data-seat="C12" class="row__seat"></div>
						<div data-seat="C13" class="row__seat"></div>
						<div data-seat="C14" class="row__seat"></div>
						<div data-seat="C15" class="row__seat"></div>
						<div data-seat="C16" class="row__seat"></div>
						<div data-seat="C17" class="row__seat"></div>
						<div data-seat="C18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="D1" class="row__seat"></div>
						<div data-seat="D2" class="row__seat"></div>
						<div data-seat="D3" class="row__seat"></div>
						<div data-seat="D4" class="row__seat"></div>
						<div data-seat="D5" class="row__seat"></div>
						<div data-seat="D6" class="row__seat"></div>
						<div data-seat="D7" class="row__seat"></div>
						<div data-seat="D8" class="row__seat"></div>
						<div data-seat="D9" class="row__seat"></div>
						<div data-seat="D10" class="row__seat"></div>
						<div data-seat="D11" class="row__seat"></div>
						<div data-seat="D12" class="row__seat"></div>
						<div data-seat="D13" class="row__seat"></div>
						<div data-seat="D14" class="row__seat"></div>
						<div data-seat="D15" class="row__seat"></div>
						<div data-seat="D16" class="row__seat"></div>
						<div data-seat="D17" class="row__seat"></div>
						<div data-seat="D18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="E1" class="row__seat"></div>
						<div data-seat="E2" class="row__seat"></div>
						<div data-seat="E3" class="row__seat"></div>
						<div data-seat="E4" class="row__seat"></div>
						<div data-seat="E5" class="row__seat"></div>
						<div data-seat="E6" class="row__seat"></div>
						<div data-seat="E7" class="row__seat"></div>
						<div data-seat="E8" class="row__seat"></div>
						<div data-seat="E9" class="row__seat"></div>
						<div data-seat="E10" class="row__seat"></div>
						<div data-seat="E11" class="row__seat"></div>
						<div data-seat="E12" class="row__seat"></div>
						<div data-seat="E13" class="row__seat"></div>
						<div data-seat="E14" class="row__seat"></div>
						<div data-seat="E15" class="row__seat"></div>
						<div data-seat="E16" class="row__seat"></div>
						<div data-seat="E17" class="row__seat"></div>
						<div data-seat="E18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="F1" class="row__seat"></div>
						<div data-seat="F2" class="row__seat"></div>
						<div data-seat="F3" class="row__seat"></div>
						<div data-seat="F4" class="row__seat"></div>
						<div data-seat="F5" class="row__seat"></div>
						<div data-seat="F6" class="row__seat"></div>
						<div data-seat="F7" class="row__seat"></div>
						<div data-seat="F8" class="row__seat"></div>
						<div data-seat="F9" class="row__seat"></div>
						<div data-seat="F10" class="row__seat"></div>
						<div data-seat="F11" class="row__seat"></div>
						<div data-seat="F12" class="row__seat"></div>
						<div data-seat="F13" class="row__seat"></div>
						<div data-seat="F14" class="row__seat"></div>
						<div data-seat="F15" class="row__seat"></div>
						<div data-seat="F16" class="row__seat"></div>
						<div data-seat="F17" class="row__seat"></div>
						<div data-seat="F18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="G1" class="row__seat"></div>
						<div data-seat="G2" class="row__seat"></div>
						<div data-seat="G3" class="row__seat"></div>
						<div data-seat="G4" class="row__seat"></div>
						<div data-seat="G5" class="row__seat"></div>
						<div data-seat="G6" class="row__seat"></div>
						<div data-seat="G7" class="row__seat"></div>
						<div data-seat="G8" class="row__seat"></div>
						<div data-seat="G9" class="row__seat"></div>
						<div data-seat="G10" class="row__seat"></div>
						<div data-seat="G11" class="row__seat"></div>
						<div data-seat="G12" class="row__seat"></div>
						<div data-seat="G13" class="row__seat"></div>
						<div data-seat="G14" class="row__seat"></div>
						<div data-seat="G15" class="row__seat"></div>
						<div data-seat="G16" class="row__seat"></div>
						<div data-seat="G17" class="row__seat"></div>
						<div data-seat="G18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="H1" class="row__seat"></div>
						<div data-seat="H2" class="row__seat"></div>
						<div data-seat="H3" class="row__seat"></div>
						<div data-seat="H4" class="row__seat"></div>
						<div data-seat="H5" class="row__seat"></div>
						<div data-seat="H6" class="row__seat"></div>
						<div data-seat="H7" class="row__seat"></div>
						<div data-seat="H8" class="row__seat"></div>
						<div data-seat="H9" class="row__seat"></div>
						<div data-seat="H10" class="row__seat"></div>
						<div data-seat="H11" class="row__seat"></div>
						<div data-seat="H12" class="row__seat"></div>
						<div data-seat="H13" class="row__seat"></div>
						<div data-seat="H14" class="row__seat"></div>
						<div data-seat="H15" class="row__seat"></div>
						<div data-seat="H16" class="row__seat"></div>
						<div data-seat="H17" class="row__seat"></div>
						<div data-seat="H18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="I1" class="row__seat"></div>
						<div data-seat="I2" class="row__seat"></div>
						<div data-seat="I3" class="row__seat"></div>
						<div data-seat="I4" class="row__seat"></div>
						<div data-seat="I5" class="row__seat"></div>
						<div data-seat="I6" class="row__seat"></div>
						<div data-seat="I7" class="row__seat"></div>
						<div data-seat="I8" class="row__seat"></div>
						<div data-seat="I9" class="row__seat"></div>
						<div data-seat="I10" class="row__seat"></div>
						<div data-seat="I11" class="row__seat"></div>
						<div data-seat="I12" class="row__seat"></div>
						<div data-seat="I13" class="row__seat"></div>
						<div data-seat="I14" class="row__seat"></div>
						<div data-seat="I15" class="row__seat"></div>
						<div data-seat="I16" class="row__seat"></div>
						<div data-seat="I17" class="row__seat"></div>
						<div data-seat="I18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="J1" class="row__seat"></div>
						<div data-seat="J2" class="row__seat"></div>
						<div data-seat="J3" class="row__seat"></div>
						<div data-seat="J4" class="row__seat"></div>
						<div data-seat="J5" class="row__seat"></div>
						<div data-seat="J6" class="row__seat"></div>
						<div data-seat="J7" class="row__seat"></div>
						<div data-seat="J8" class="row__seat"></div>
						<div data-seat="J9" class="row__seat"></div>
						<div data-seat="J10" class="row__seat"></div>
						<div data-seat="J11" class="row__seat"></div>
						<div data-seat="J12" class="row__seat"></div>
						<div data-seat="J13" class="row__seat"></div>
						<div data-seat="J14" class="row__seat"></div>
						<div data-seat="J15" class="row__seat"></div>
						<div data-seat="J16" class="row__seat"></div>
						<div data-seat="J17" class="row__seat"></div>
						<div data-seat="J18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="K1" class="row__seat"></div>
						<div data-seat="K2" class="row__seat"></div>
						<div data-seat="K3" class="row__seat"></div>
						<div data-seat="K4" class="row__seat"></div>
						<div data-seat="K5" class="row__seat"></div>
						<div data-seat="K6" class="row__seat"></div>
						<div data-seat="K7" class="row__seat"></div>
						<div data-seat="K8" class="row__seat"></div>
						<div data-seat="K9" class="row__seat"></div>
						<div data-seat="K10" class="row__seat"></div>
						<div data-seat="K11" class="row__seat"></div>
						<div data-seat="K12" class="row__seat"></div>
						<div data-seat="K13" class="row__seat"></div>
						<div data-seat="K14" class="row__seat"></div>
						<div data-seat="K15" class="row__seat"></div>
						<div data-seat="K16" class="row__seat"></div>
						<div data-seat="K17" class="row__seat"></div>
						<div data-seat="K18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="L1" class="row__seat"></div>
						<div data-seat="L2" class="row__seat"></div>
						<div data-seat="L3" class="row__seat"></div>
						<div data-seat="L4" class="row__seat"></div>
						<div data-seat="L5" class="row__seat"></div>
						<div data-seat="L6" class="row__seat"></div>
						<div data-seat="L7" class="row__seat"></div>
						<div data-seat="L8" class="row__seat"></div>
						<div data-seat="L9" class="row__seat"></div>
						<div data-seat="L10" class="row__seat"></div>
						<div data-seat="L11" class="row__seat"></div>
						<div data-seat="L12" class="row__seat"></div>
						<div data-seat="L13" class="row__seat"></div>
						<div data-seat="L14" class="row__seat"></div>
						<div data-seat="L15" class="row__seat"></div>
						<div data-seat="L16" class="row__seat"></div>
						<div data-seat="L17" class="row__seat"></div>
						<div data-seat="L18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="M1" class="row__seat"></div>
						<div data-seat="M2" class="row__seat"></div>
						<div data-seat="M3" class="row__seat"></div>
						<div data-seat="M4" class="row__seat"></div>
						<div data-seat="M5" class="row__seat"></div>
						<div data-seat="M6" class="row__seat"></div>
						<div data-seat="M7" class="row__seat"></div>
						<div data-seat="M8" class="row__seat"></div>
						<div data-seat="M9" class="row__seat"></div>
						<div data-seat="M10" class="row__seat"></div>
						<div data-seat="M11" class="row__seat"></div>
						<div data-seat="M12" class="row__seat"></div>
						<div data-seat="M13" class="row__seat"></div>
						<div data-seat="M14" class="row__seat"></div>
						<div data-seat="M15" class="row__seat"></div>
						<div data-seat="M16" class="row__seat"></div>
						<div data-seat="M17" class="row__seat"></div>
						<div data-seat="M18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="N1" class="row__seat"></div>
						<div data-seat="N2" class="row__seat"></div>
						<div data-seat="N3" class="row__seat"></div>
						<div data-seat="N4" class="row__seat"></div>
						<div data-seat="N5" class="row__seat"></div>
						<div data-seat="N6" class="row__seat"></div>
						<div data-seat="N7" class="row__seat"></div>
						<div data-seat="N8" class="row__seat"></div>
						<div data-seat="N9" class="row__seat"></div>
						<div data-seat="N10" class="row__seat"></div>
						<div data-seat="N11" class="row__seat"></div>
						<div data-seat="N12" class="row__seat"></div>
						<div data-seat="N13" class="row__seat"></div>
						<div data-seat="N14" class="row__seat"></div>
						<div data-seat="N15" class="row__seat"></div>
						<div data-seat="N16" class="row__seat"></div>
						<div data-seat="N17" class="row__seat"></div>
						<div data-seat="N18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="O1" class="row__seat"></div>
						<div data-seat="O2" class="row__seat"></div>
						<div data-seat="O3" class="row__seat"></div>
						<div data-seat="O4" class="row__seat"></div>
						<div data-seat="O5" class="row__seat"></div>
						<div data-seat="O6" class="row__seat"></div>
						<div data-seat="O7" class="row__seat"></div>
						<div data-seat="O8" class="row__seat"></div>
						<div data-seat="O9" class="row__seat"></div>
						<div data-seat="O10" class="row__seat"></div>
						<div data-seat="O11" class="row__seat"></div>
						<div data-seat="O12" class="row__seat"></div>
						<div data-seat="O13" class="row__seat"></div>
						<div data-seat="O14" class="row__seat"></div>
						<div data-seat="O15" class="row__seat"></div>
						<div data-seat="O16" class="row__seat"></div>
						<div data-seat="O17" class="row__seat"></div>
						<div data-seat="O18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="P1" class="row__seat"></div>
						<div data-seat="P2" class="row__seat"></div>
						<div data-seat="P3" class="row__seat"></div>
						<div data-seat="P4" class="row__seat"></div>
						<div data-seat="P5" class="row__seat"></div>
						<div data-seat="P6" class="row__seat"></div>
						<div data-seat="P7" class="row__seat"></div>
						<div data-seat="P8" class="row__seat"></div>
						<div data-seat="P9" class="row__seat"></div>
						<div data-seat="P10" class="row__seat"></div>
						<div data-seat="P11" class="row__seat"></div>
						<div data-seat="P12" class="row__seat"></div>
						<div data-seat="P13" class="row__seat"></div>
						<div data-seat="P14" class="row__seat"></div>
						<div data-seat="P15" class="row__seat"></div>
						<div data-seat="P16" class="row__seat"></div>
						<div data-seat="P17" class="row__seat"></div>
						<div data-seat="P18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="Q1" class="row__seat"></div>
						<div data-seat="Q2" class="row__seat"></div>
						<div data-seat="Q3" class="row__seat"></div>
						<div data-seat="Q4" class="row__seat"></div>
						<div data-seat="Q5" class="row__seat"></div>
						<div data-seat="Q6" class="row__seat"></div>
						<div data-seat="Q7" class="row__seat"></div>
						<div data-seat="Q8" class="row__seat"></div>
						<div data-seat="Q9" class="row__seat"></div>
						<div data-seat="Q10" class="row__seat"></div>
						<div data-seat="Q11" class="row__seat"></div>
						<div data-seat="Q12" class="row__seat"></div>
						<div data-seat="Q13" class="row__seat"></div>
						<div data-seat="Q14" class="row__seat"></div>
						<div data-seat="Q15" class="row__seat"></div>
						<div data-seat="Q16" class="row__seat"></div>
						<div data-seat="Q17" class="row__seat"></div>
						<div data-seat="Q18" class="row__seat"></div>
					</div>
					<div class="row">
						<div data-seat="R1" class="row__seat"></div>
						<div data-seat="R2" class="row__seat"></div>
						<div data-seat="R3" class="row__seat"></div>
						<div data-seat="R4" class="row__seat"></div>
						<div data-seat="R5" class="row__seat"></div>
						<div data-seat="R6" class="row__seat"></div>
						<div data-seat="R7" class="row__seat"></div>
						<div data-seat="R8" class="row__seat"></div>
						<div data-seat="R9" class="row__seat"></div>
						<div data-seat="R10" class="row__seat"></div>
						<div data-seat="R11" class="row__seat"></div>
						<div data-seat="R12" class="row__seat"></div>
						<div data-seat="R13" class="row__seat"></div>
						<div data-seat="R14" class="row__seat"></div>
						<div data-seat="R15" class="row__seat"></div>
						<div data-seat="R16" class="row__seat"></div>
						<div data-seat="R17" class="row__seat"></div>
						<div data-seat="R18" class="row__seat"></div>
					</div>
				</div>
				<!-- /rows -->
			</div><!-- /cube -->
		</div><!-- /container -->
		<div class="plan">
			<h3 class="plan__title">Seating Plan</h3>
			<div class="rows rows--mini">
				<div class="row">
					<div class="row__seat tooltip" data-tooltip="A1"></div>
					<div class="row__seat tooltip" data-tooltip="A2"></div>
					<div class="row__seat tooltip" data-tooltip="A3"></div>
					<div class="row__seat tooltip" data-tooltip="A4"></div>
					<div class="row__seat tooltip" data-tooltip="A5"></div>
					<div class="row__seat tooltip" data-tooltip="A6"></div>
					<div class="row__seat tooltip" data-tooltip="A7"></div>
					<div class="row__seat tooltip" data-tooltip="A8"></div>
					<div class="row__seat tooltip" data-tooltip="A9"></div>
					<div class="row__seat tooltip" data-tooltip="A10"></div>
					<div class="row__seat tooltip" data-tooltip="A11"></div>
					<div class="row__seat tooltip" data-tooltip="A12"></div>
					<div class="row__seat tooltip" data-tooltip="A13"></div>
					<div class="row__seat tooltip" data-tooltip="A14"></div>
					<div class="row__seat tooltip" data-tooltip="A15"></div>
					<div class="row__seat tooltip" data-tooltip="A16"></div>
					<div class="row__seat tooltip" data-tooltip="A17"></div>
					<div class="row__seat tooltip" data-tooltip="A18"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					

				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
				<div class="row">
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
					<div class="row__seat tooltip"></div>
				</div>
			</div>
			<!-- /rows -->
			<ul class="legend">
				<li class="legend__item legend__item--free">Free</li>
				<li class="legend__item legend__item--reserved">Others</li>
				<li class="legend__item legend__item--selected">You</li>
			</ul>
		</div><!-- /plan -->
		<button class="action action--lookaround action--disabled" arial-label="Unlook View"></button>
		<script src="/static/js/classie.js"></script>
		<script src="/static/js/main.js"></script>
	</body>
	
<div class="modal fade" tabindex="-1" role="dialog" id="playlist-modal" aria-labelledby="playlist-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
			
			 <h4 class="modal-title"><i class="fa fa-bars"></i> Playlist</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="youtube">
                        <div class="add-video">
							<div class="form-group form-inline">
								<form class="form-inline" id="ctrl-queue-form">
									
									<input type="text" id="ctrl-queue-add-text" class="form-control input-large" placeholder="Paste YouTube link here" autocomplete="off" style="width:410px" />
									<!--  <button class="btn btn-success input-large" id="ctrl-queue-btn" onclick="return false">Add</button>  -->
									<div id="ctrl-queue-error-msg" class="error-message"></div>
									
								</form>
								<button id="ctrl-queue-btn" type="button" class="btn btn-primary">Add</button>
							</div>
							
                        </div>
                        <div id="ctrl-queue-list-interface" class="hiddsen">
                            <div class="ac-video">
								<div class="video-thumbnail-image">
									<img src="https://img.youtube.com/vi/HUXaV977fiU/mqdefault.jpg" class="video-image" id="currently-playing" alt="">
									<button id="remove-from-queue" class="btn btn-secondary">Remove</span>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="disconnect-modal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">You have lost connection</h5>
		</div>
		<div class="modal-body">
		  <p>Please refresh to rejoin.</p>
		</div>
		<div class="modal-footer">

		</div>
	  </div>
	</div>
  </div>


	<footer class="footer">

		<div class="row">
		
			<div class="col-md-3">
				<div class="input-group mb-3">
				<form class="form-inline" id="chat-form">
				  <input type="text" class="form-control" id="chat-box" placeholder="Type a message..." aria-label="Type a message..." aria-describedby="basic-addon2" autocomplete="off">
				  <div class="input-group-append">
					<button class="btn btn-outline-secondary" id="send-chat" type="submit" onclick="return false">Send</button>
				</form>
				</div>
				</div>
			</div>
		
			<div class="col-md-6 text-center">
			
        <button class="ctrl-vid btn btn-large" id="ctrl-prev"><i class="fas fa-step-backward"></i></button>
        <button class="ctrl-vid btn btn-large" id="ctrl-play"><i class="fas fa-play"></i></button>
        <button class="ctrl-vid btn btn-large" id="ctrl-next"><i class="fas fa-step-forward"></i></button>
			</div>
			
			
		</div>
	</footer>
</html>